{% extends 'base.html' %}
{% load static %}
{% load my_filters %}
{% load crispy_forms_tags %}
{% load i18n widget_tweaks %}

{% block head %} 
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
{% endblock %}
 
{% block content %}

    <h3> 
    
        {% if user.is_authenticated %}

            <a href="{% url 'add-cocktail' %}" style="float: right; margin-right: 5px;" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Add Cocktail</a>      
                    
        {% endif %}
        
    
    {% if page_obj %}
        Cocktail List </h3>
        </h3>
        <br>
        <input class="form-control" id="search" type="text" placeholder="Search with more than 2 letters." aria-label="Search"><br>

        <div class="row row-cols-1 row-cols-md-3" id="cocktails">

            {% for cocktail in page_obj %}

                <div class="col mb-4">
                    <div class="card">
                        <img src="{{ cocktail.picture.url }}" class="card-img-top" style="width: 290px; height: 290px;">
                        <div class="card-body">
                            <h5 class="card-title">{{cocktail.name}} / <small>{{cocktail.group}}</small></h5>
                            <p class="card-text">{{cocktail.recipe}}</p>
                        </div>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">
                                <small class="text-muted">Is Alcoholic:
                                    {% if cocktail.is_alcoholic %}
                                        <i class="fa fa-check" aria-hidden="true"></i>
                                    {% else %}
                                        <i class="fa fa-times" aria-hidden="true"></i>
                                    {% endif %}
                                </small>
                            </li>
                            <li class="list-group-item">
                                <small class="text-muted">Taste:
                                    <span style="float: right;">
                                        {% for i in cocktail.avg_taste|times %}
                                            <i class="fa fa-star" aria-hidden="true"></i>
                                        {% endfor %}
                                        {% for i in cocktail.avg_taste|fivemtimes %}
                                            <i class="fa fa-star-o" aria-hidden="true"></i>
                                        {% endfor %}
                                    </span>
                                </small>
                            </li>
                            <li class="list-group-item">
                                <small class="text-muted">Cost:
                                    <span style="float: right;">
                                        {% for i in cocktail.avg_cost|times %}
                                            <i class="fa fa-star" aria-hidden="true"></i>
                                        {% endfor %}
                                        {% for i in cocktail.avg_cost|fivemtimes %}
                                            <i class="fa fa-star-o" aria-hidden="true"></i>
                                        {% endfor %}
                                    </span>
                                </small>
                            </li>
                            <li class="list-group-item">
                                <small class="text-muted">Preperation Hardness:
                                    <span style="float: right;">
                                        {% for i in cocktail.avg_prep|times %}
                                            <i class="fa fa-star" aria-hidden="true"></i>
                                        {% endfor %}
                                        {% for i in cocktail.avg_prep|fivemtimes %}
                                            <i class="fa fa-star-o" aria-hidden="true"></i>
                                        {% endfor %}
                                    </span>
                                </small>
                            </li>
                        </ul>
                        <div class="card-footer">
                            <a href="{% url 'review' cocktail.id %}">Reviews</a>
                            {% if user.is_authenticated %}

                                {% if cocktail.user != user %}
                                    | <a href="{% url 'rate' cocktail.id %}">Rate</a>
                                {% else %}
                                    | <a href="{% url 'edit-cocktail' cocktail.id %}">Edit</a>
                                    | <a href="#" data-toggle="modal" data-target="#modalDelete">Delete</a>
                                {% endif %}

                                <div class="modal fade" id="modalDelete" tabindex="-1" role="dialog" aria-labelledby="modalDelete" aria-hidden="true">
                                    <div class="modal-dialog modal-dialog-centered" role="document">
                                        <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="modalDeleteTitle">Delete {{cocktail.name}}</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            Are you sure?
                                        </div>
                                        <div class="modal-footer">
                                            <a href="{% url 'delete-cocktail' cocktail.id %}">
                                            <button type="button" class="btn btn-primary">Delete</button>
                                            </a>
                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                        </div>
                                        </div>
                                    </div>
                                </div>

                            {% endif %}
                        </div>

                    </div>
                </div>

            {% endfor %}

            <ul class="pagination" style="margin-left: 15px;">

                {% if page_obj.has_previous %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{ page_obj.previous_page_number }}" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                            <span class="sr-only">Previous</span>
                        </a>
                    </li>
                {% else %}
                    <li class="page-item disabled">
                        <a class="page-link" href="#" tabindex="-1">
                            <span aria-hidden="true">&laquo;</span>
                            <span class="sr-only">Previous</span>
                        </a>
                    </li>
                {% endif %}

                {% if page_obj.number|add:'-4' > 1 %}
                    <li class="page-item"><a class="page-link" href="?page={{ page_obj.number|add:'-5' }}">&hellip;</a></li>
                {% endif %}

                {% for i in page_obj.paginator.page_range %}
                    {% if page_obj.number == i %}
                        <li class="page-item active">
                          <a class="page-link" href="?page={{ page_obj.number }}">{{ i }} <span class="sr-only">(current)</span></a>
                        </li>
                    {% elif i > page_obj.number|add:'-5' and i < page_obj.number|add:'5' %}
                        <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
                    {% endif %}
                {% endfor %}

                {% if page_obj.paginator.num_pages > page_obj.number|add:'4' %}
                    <li class="page-item"><a class="page-link" href="?page={{ page_obj.number|add:'5' }}">&hellip;</a></li>
                {% endif %}

                {% if page_obj.has_next %}
                    <li class="page-item">
                      <a class="page-link" href="?page={{ page_obj.next_page_number }}" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                        <span class="sr-only">Next</span>
                      </a>
                    </li>
                {% else %}
                    <li class="page-item disabled">
                      <a class="page-link" href="?page={{ page_obj.next_page_number }}" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                        <span class="sr-only">Next</span>
                      </a>
                    </li>
                {% endif %}

            </ul>

        </div>

    {% else %}
        No Cocktails.. </h3>

    {% endif %}

    <script type="text/javascript">
        $( '#search' ).keyup( function() {
            var search = $('#search').val();
            $('#cocktails').empty().load('{% url "home-search" %}?search=' + search);
        });

    </script>

{% endblock %}

