.body {
    max-width: 1000px;
}

.btn-primary {
    background-color: #ff4e50 !important;
    border-color: #ff4e50 !important;
}

.btn-primary:hover{
    background-color: #BF3B3C !important;
    border-color: #BF3B3C !important;
}

.asteriskField {
    display: none !important;
}

a {
    color: #ff4e50;
}

.page-item.active .page-link {
    color: #fff;
    background-color: rgb(193, 83, 233);
    border-color: rgb(193, 83, 233);
}

.page-link:hover {
    color: #ff4e50;
}

a.page-link {
    color: rgb(193, 83, 233);
}